{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<h1>{{ vhost.domain_name }}</h1>
<p><b>Active: {{ vhost.active }}</b></p>
<p>Include WWW: {{ vhost.include_www }}</p>
<p>Redirect to HTTPs: {{ vhost.redirect_https }}</p>
<p>PHP Enabled: {{ vhost.php_enabled }}</p>
<p>Let's Encrypt Enabled: {{ vhost.lets_encrypt }}</p>
<br />
<textarea rows="10" cols="80">{{ rendered_vhost }}</textarea>
<br /><br />
{% bootstrap_button button_type='link' content='VHOST List' href=listing_url button_class='btn-primary' %}
{% bootstrap_button button_type='link' content='Delete' href=delete_url button_class='btn-danger' %}
{% endblock %}
